@import "boton";

@import "animacion";

@import "color";

.style-text-nav-bar {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.center-h2 {
  text-align: center;
}

.color-header {
  background-image: $primary;
}
